.modal__product {
  .modal__product__openmodal {
    background-color: white;
    color: #fe724c;
    height: 30px;
    border: 1px solid #fe724c;
    padding: 5px;
  }
  h2 {
    color: #fe724c;
  }
}
