.navBar {
  display: flex;
  justify-content: flex-end;
  background-color: #fe724c;

  li {
    padding: 10px;
    a {
      color: white;
    }
  }

  .navBar__login,
  .navBar__register {
    button {
      @include nav-bar-button;
    }
  }
}
