.form-register {
  margin: 10px 0px;

  .form__button--continue {
    margin-top: 20px;
    border: 1px solid red;
    display: flex;
  }
}
.rf__container {
  h2 {
    padding-left: 150px;
    color: #fe724c;
  }
}
