@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

:root {
  --orange: #fe724c;
  --yellow: #ffc529;
  --typo: #1a1d26;
  font-family: "Montserrat", sans-serif;
}
